<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Thư viện trường Đại học thương mại</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://hroy.eu/bootstrap/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Thư viện trường Đại học thương mại</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome to library</h1>
            <p class="lead"></p>
            <form method="post">
                <label>Username:</label><br>
                <input name="name"><br>
                <label>Password:</label><br>
                <input type="password" name="mk"><br>
                <p><input type="submit" value="LOG IN"/></p>
            </form>
        
</body>
 
</html>
