<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Bike</title>
</head>
<body>
<form method ="POST">
    <label>Model </label><input name="model" placeholder="e.g. Honda Airblade"><br>
    <label>Daily fee </label><input name="daily" placeholder="e.g. 100000"><br>
    <label>Image </label><input name="image" placeholder="https://honda.com.vn"><br>
    <label>Year </label><input name="year" placeholder="e.g. 2019"><br>
    <p><input type ="submit" value = "Submit"></p>
</form>
    
</body>
</html>